<div class="row m-2 p-4">
    <div class="col-md-5">
        <img class="img-fluid" src={{blog?.imgurl}}/>
    </div>
    <div class="col-md-7">
        <p class="badge bg-warning">{{blog?.category}}</p>
        <p>{{blog?.title}}</p>
        <p>{{blog?.content}}</p>
        <span class="badge bg-primary">{{blog?.created | date}}</span>
        <p class="mt-3">
            <button class="btn btn-success" (click)="details(blog?.id)">Read More</button>
        </p>
        <ng-content></ng-content>
    </div>
</div>

