<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" 
      routerLink="">MitelBlogs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="!us.isLoggedIn()">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            <!-- <a class="nav-link" [routerLink]="[{ outlets: { login: ['login'] } }]">Login</a> -->
          </li>
          <li class="nav-item"  *ngIf="!us.isLoggedIn()">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" *ngIf="us.isLoggedIn()">
            <a class="nav-link" style="cursor: pointer;" (click)='getBlogsWithEmail()'>My Blogs</a>
          </li>
          <li class="nav-item" *ngIf="us.isLoggedIn()">
            <a class="nav-link" routerLink="/create" routerLinkActive="active">Create</a>
          </li>
          <li class="nav-item"  *ngIf="us.isLoggedIn()">
            <a class="nav-link" href="" (click)="us.logoutUser()" routerLinkActive="active">Logout</a>
          </li>
          <li class="nav-item"  *ngIf="us.isLoggedIn()">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">Welcome {{us.getUsername()}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>