<app-header></app-header>
<!-- <div class="container">
<button class="btn btn-primary" (click)="displayForm()">Add Blog</button>
<div *ngIf="showform">
    <app-blogform></app-blogform>
</div>
<app-bloglist></app-bloglist>
</div> -->
<div class="container">
<router-outlet name="login"></router-outlet>
<router-outlet></router-outlet>
</div>
<!-- <p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p><p>Some dummy</p> -->